@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
html {
  font-size: 10px;
}

img {
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
  font-family: "Red Hat Display", sans-serif;
}
body header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body header .logo {
  width: 11.8rem;
  height: 2.8rem;
}
@media (max-width: 480px) {
  body header {
    padding-top: 4.8rem;
  }
}
@media (min-width: 768px) {
  body header {
    padding-top: 8rem;
  }
}
body main {
  width: 100%;
}
body main .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .intro .images {
  display: flex;
  gap: 1.7rem;
  padding-top: 6.4rem;
}
@media (max-width: 480px) {
  body main .intro .images .img-left, body main .intro .images .img-right {
    max-width: 208px;
    max-height: 160px;
  }
}
@media (min-width: 481px) {
  body main .intro .images .img-left, body main .intro .images .img-right {
    max-width: 394px;
    max-height: 303px;
  }
}
@media (min-width: 768px) {
  body main .intro .images {
    width: 100%;
    justify-content: space-between;
  }
}
body main .intro .text {
  text-align: center;
}
@media (max-width: 480px) {
  body main .intro .text {
    padding-top: 4.8rem;
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media ((min-width: 480px) and (max-width: 768px)) {
  body main .intro .text {
    padding-top: 7.2rem;
    margin-left: 16rem;
    margin-right: 16rem;
  }
}
body main .intro h1 {
  color: hsl(240, 21%, 20%);
  font-weight: 800;
  font-size: 4rem;
  line-height: 110%;
}
body main .intro p {
  padding-top: 2.4rem;
  color: hsl(240, 10%, 57%);
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
}
body main .intro .buttons {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  padding-top: 2.4rem;
}
@media (max-width: 480px) {
  body main .intro .buttons {
    flex-direction: column;
    padding-bottom: 3.2rem;
  }
}
@media ((min-width: 480px) and (max-width: 768px)) {
  body main .intro .buttons {
    padding-bottom: 6.4rem;
    justify-content: center;
  }
}
@media (min-width: 769px) {
  body main .intro .buttons {
    justify-content: center;
    padding-bottom: 11rem;
  }
}
body main .intro .buttons .purple, body main .intro .buttons .blue {
  border: none;
  color: white;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 700;
  padding: 1.6rem 4rem;
  border-radius: 29px;
}
body main .intro .buttons .blue {
  background-color: rgb(77, 150, 168);
}
body main .intro .buttons .blue span {
  color: hsl(192, 90%, 77%);
}
body main .intro .buttons .purple {
  background-color: hsl(268, 34%, 53%);
}
body main .step-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3.2rem;
}
body main .step-1 .line {
  width: 1px;
  height: 80px;
  background-color: hsl(240, 18%, 85%);
}
body main .step-1 .number {
  padding: 1.6rem;
  border: 1px solid hsl(240, 18%, 85%);
  border-radius: 50%;
  margin-bottom: 6.4rem;
  color: hsl(240, 10%, 57%);
  font-size: 1.6rem;
  font-weight: 700;
}
body main .step-1 .image-grid {
  display: grid;
  margin-bottom: 6.4rem;
}
@media (max-width: 480px) {
  body main .step-1 .image-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
  }
}
@media ((min-width: 480px) and (max-width: 768px)) {
  body main .step-1 .image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.4rem;
  }
}
@media (min-width: 769px) {
  body main .step-1 .image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.2rem;
  }
}
body main .step-1 .image-grid img {
  border-radius: 12px;
}
body main .step-1 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body main .step-1 .content h2 {
  color: rgb(77, 150, 168);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4px;
  margin-bottom: 1.6rem;
}
body main .step-1 .content h1 {
  color: hsl(240, 21%, 20%);
  font-weight: 700;
  line-height: 110%;
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}
body main .step-1 .content p {
  color: hsl(240, 10%, 57%);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 6.4rem;
}
body main .step-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body main .step-2 .line {
  width: 1px;
  height: 80px;
  background-color: hsl(240, 18%, 85%);
}
body main .step-2 .number {
  background-color: #fff;
  padding: 1.6rem;
  border: 1px solid hsl(240, 18%, 85%);
  border-radius: 50%;
  margin-bottom: -27px;
  color: hsl(240, 10%, 57%);
  font-size: 1.6rem;
  font-weight: 700;
  z-index: 1;
}
body main .step-2 .content {
  background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url("../starter-code/assets/desktop/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  width: 100%;
}
@media (max-width: 768px) {
  body main .step-2 .content {
    flex-direction: column;
    padding: 6.4rem 3.2rem;
  }
}
@media (min-width: 769px) {
  body main .step-2 .content {
    flex-direction: row;
    padding: 11.2rem 10.6rem;
  }
}
body main .step-2 .content h1 {
  color: white;
  font-size: 3.2rem;
  line-height: 110%;
  font-weight: 700;
}
body main .step-2 .content h2 {
  color: white;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 300;
}
body main .step-2 .content button {
  border: none;
  background-color: hsl(268, 34%, 53%);
  color: white;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 700;
  padding: 1.6rem 4rem;
  border-radius: 29px;
}
body main .step-2 .content button span {
  color: hsl(268, 100%, 86%);
}/*# sourceMappingURL=style.css.map */